<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <title></title>
<style>
  .wholediv{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(20deg, #6bc5d2 65%, #d2fafb 35%);
  min-height: 100vh;
  font-family: 'helvetica neue';
  height: 100vh;
  margin: 0 0;
  padding-top: 7.5%;
}

.bg{
  background: rgba(16,94,98,0.85);
  width: 60%;
  height: 60%;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  padding: 50px;
  -webkit-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
-moz-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    /* -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
</style>
<script type="text/javascript">
  var message = document.querySelector('#message');
  var finalTranscript = '';
  var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
  var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
  var grammar = '#JSGF V1.0;'
  var recognition = new SpeechRecognition();
  var speechRecognitionList = new SpeechGrammarList();
  speechRecognitionList.addFromString(grammar, 1);
  recognition.grammars = speechRecognitionList;
  recognition.lang = 'en-US';
  recognition.interimResults = true;
  recognition.maxAlternatives = 10;
  recognition.continuous = true;
  recognition.onresult = function(event) {
    var interimTranscript = '';
    for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
      let transcript = event.results[i][0].transcript;
      if (event.results[i].isFinal) {
        finalTranscript += transcript;
      } else {
        interimTranscript += transcript;
      }
    }
    document.querySelector('#voiceText').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';

  };
/*
  function myFunction() {
    document.getElementById("myText").value = finalTranscript.toLowerCase();
  };
*/
  recognition.onspeechend = function() {
      recognition.stop();
  };
  recognition.onerror = function(event) {
      message.textContent = 'Error occurred in recognition: ' + event.error;
  }
  document.querySelector('#btnGiveCommand').addEventListener('click', function(){
      recognition.start();
  });
</script>
</head>
<body>
  <div class="wholediv">
    <div class="bg">
      <h1>Add an entry</h1>
      <form class="" action="/<%=name%>/addthisentry" method="post">
        <p>Date-</p>
        <input type="date" name="date" value="">
        <p>Time-</p>
        <input type="time" name="time" value="">
        <p>Title-</p>
        <input type="text" name="title" value="">
        <p>Contents-</p>
        <input id = "voiceText" type="text" name="contents" value="">
        <button type="submit" name="button">Done</button>



      </form>
      <button id="btnGiveCommand">Give Voice Command!</button>
      <br><br>
      <span id='message'></span>
      <br><br>
    </div>
  </div>
</body>
<!-- <script type = "text/javascript">
         function setDate() {
            return
         }
</script> -->



</html>
