<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"
    <title></title>
<style>
  .wholediv{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(20deg, #fa697c 65%, #d62196 35%);
  min-height: 100vh;
  font-family: 'helvetica neue';
  height: 100vh;
  margin: 0 0;
  padding-top: 7.5%;
}

.bg{
  background:  #ffe3ed;
  width: 60%;
  height: 60%;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  padding: 50px;
  -webkit-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
-moz-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    /* -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
body{
  margin: 0;
}
.details{
  /* font-family: 'Baskervville', serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin: 10px;
}
input[type=text]{
  width: 70%;
  margin: 0 0;
  box-sizing: border-box;
  border-radius: 2px;
}
.submit{
  background: #f5b0cb;
  width: 100px;
  padding: 4px 0; 
  margin-top: 10px; 
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  color:#110133;
  margin-left: 13%;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 20px;
  align: center;
}
&:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    color:#f2eee5
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
</style>
</head>
<body>
<div class="wholediv">
<div class="bg">
<h1 style="text-align: center;font-family: 'Shadows Into Light', cursive">Add an entry</h1>
<form class="" action="/<%=name%>/addthisentry" method="post">
  <p class="details">Date-</p>
  <input type="date" name="date" value="">
  <p class="details">Time-</p>
  <input type="time" name="time" value="">
  <p class="details">Title-</p>
  <input type="text" name="title" value="">
  <p class="details">Contents-</p>
  <input type="text" name="contents" value="">
  <br></br>
  <br></br>
  <button type="submit" name="button" class="submit">Done</button>
</form>
<!-- <script type = "text/javascript">
         function setDate() {
            return
         }
</script> -->
</div>
</div>
</body>
</html>