<!DOCTYPE html>
<html>
    <head>
            <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <style>
            .wholediv2{
                background-color:#fa697c;
                background-image: -webkit-linear-gradient(20deg, #fa697c 65%, #d62196 35%);
                min-height: 100vh;
                font-family: 'helvetica neue';
                height: 100vh;
                margin: 0 0;
                padding-top: 20px;
              }
              .bg2{
                background: #ffe3ed;
                width: 65%;
                margin-left: auto;
                margin-right:auto;
                margin-top: 3%;
                padding: 1px;
                -webkit-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
                -moz-box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
                box-shadow: 14px 10px 25px 10px rgba(95,103,105,0.84);
                -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
                 -moz-animation: fadein 2s; /* Firefox < 16 */
                  /* -ms-animation: fadein 2s; /* Internet Explorer */
                   -o-animation: fadein 2s; /* Opera < 12.1 */
                      animation: fadein 2s;
              }
body{
margin:0%;
}
.buttons1{
  /* background: #396362; */
  font-family: 'Shadows Into Light', cursive;
  background:#f2eee5;
  width: 180px;
  padding: 4px 0;  
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  /* color: #f2eee5; */
  color: black;
  font-weight: bold;
  font-size: 20px;
}
&:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    color:#f2eee5
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  } 
  input[type=text]{
  width: 70%;
  margin: 0 0;
  box-sizing: border-box;
  border-radius: 2px;
}
input[type=time]{
    width: 70%;
  margin: 0 0;
  box-sizing: border-box;
  border-radius: 2px; 
}
.details{
  /* font-family: 'Baskervville', serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  left: 30;
  align: center; 
}  
    </style>
</head>
    <body>
        <div class="wholediv2">
            <div class="bg2">
            <form action="/<%=id%>/reminders/personal-reminders/addreminder" method="post">
                <p class="details">Title</p>
                <input type="text" name="title"/>
                <p class="details">Additional information</p>
                <input type="text" placeholder="Optional" name="details"/>
                <p class="details">Time</p>
                <input type="time" name="time" value="">
                <button type="submit" name="date" value="<%=date%>/11/2019" class="buttons1">Add</button>
            </form>
        </div>
        </div>
    </body>
</html>