<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div class="wholediv">
    <div class="bg">
    <h1 class="login">Register</h1>
    <form class="" action="/newreg" method="post">
        <input type="text" name="name" placeholder="Name" size="60" style="height:30px;"> <br> <br>
        <input type="text" name="username" placeholder="Username" size="60" style="height:30px;"> <br> <br>

        <input type="email" class="form-control" id="exampleInputEmail1" style="height:30px;" aria-describedby="emailHelp" name="email" placeholder="Enter email" size="60">
        <br> <br>
        <input type="password" class="form-control" id="exampleInputPassword1" style="height:30px;" name="password" placeholder="Password" size="60">
        <br /> <br>
      <button type="submit" class="register_submit">Submit</button>
    </form>
  </div>
</div>
  </body>
</html>
